@import url("../header.css");
@import url("../footer.css");
.additem button{
   
    font-size: 30px;
    background-color:lightblue;
    display: inline;
    justify-content: end;
   width: fit-content;
   border-radius: 5px;
   height:2em;
   margin: 1em;
   border-color: lightblue;
   color: white;
}
.arrow{
    font-size: 25px;
}

.additem{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.additem h2{
    font-size: 30px;
    margin: 1em;
    margin-top: 45px;
}

td {
    text-align: center;
    width:fit-content;
    background-color: white;
}

table{
    width:75em;
    height:31em;
    font-size: 20px;
    align-items: center;
    background-color: wheat;
    
}
.arrow:hover{
    color: red;

}
.tb1{
    background-color: darkblue !important ;
    color: white;
}