
body  {
  font-family: Arial, sans-serif;
}
h2,h3,h4{
    margin: 10px;
}

.bill-container {
  max-width: 298px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.shop-details {
  margin-bottom: 20px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}
#bill_table {
  width: 100%;
  border-collapse: collapse;
}
#bill_table th, #bill_table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#bill_table th{
  background-color: #f2f2f2;
  text-align: left;
}
#shop{
   text-align: center;
}
#total{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
#total h2,#total h3 {
    margin: 0;
}
#shop-details p{
  display: flex;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
 }
 
 .btn {
  width: 570px;
  height: 60px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
 }
 
 .btn:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
               inset 0 0 0 8px #ffd166, 
               inset 0 0 0 12px #06d6a0,
               inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
 }

 #span{
  font-size: 10px;
 }
