@import url("../header.css");

main {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
}

form input {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 15px;
    margin-top: 5px;
    text-align: center;
    background-color: lightblue;

}

main aside  {
    width: 10em;
    width: 20em;
    float: right;
}

#main_table {
    width: 500px;
    text-align: center;
    font-size: 17px;
    background-color: wheat;
    align-items: center;
    margin-top: 50px;

}

.date {
    width: 13.6em;
    text-align: center;
}

.tb1 {
    background-color: darkblue !important;
    color: white;
}

#main_table td {
    background-color: white;
}


.tb1 {
    background-color: darkblue;
    color: white;
}

#main_table td {
    text-align: center;
    background-color: white;
    color: black;
    height: 4.5em;

}

#main_table th{
    height: 3.5em;
    width: 0%;
}
.bill-container {
    max-width: 329px !important;
}


